
{% block styles %}
    <link href="{{ static 'global/empty.css'}}" rel="stylesheet">
{% endblock %}

{% block title %}
    Thank you very much for your participation. 
{% endblock %}

{% block content %}



<div >
 <p>
    You have read 12 statements regarding the climate change. Not all statements were necessarily true. 
    By true, we mean that they convey scientific facts that are endorsed by the scientific community, as well as the larger public. 

    The following statements you have read were misleading. Here you can read the corrected version. 
 </p>   

 <table>
    <tr> <th> Misleading Statement</th> <th>Corrected Statement</th> </tr>
 </table>
  
</div>




    

{% endblock %}


{% block scripts %}
<script>

</script>


{% endblock %}


